@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Space Mono", sans-serif;
  color: #5e7a7d;
}

body {
  background: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  background: none;
  border: none;
  outline: none;
  text-align: right;
}

input:focus {
  outline: none;
}

.logo {
  margin: 50px 0 35px 0;
}

.card {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 2em;
  border-radius: 1.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  font-weight: 700;
}

.card-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.card-input .label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 800;
  margin-bottom: 0.5em;
}

.card-input .label-wrapper:focus {
  outline: 2px solid #26c0ab;
}

.card-input .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.card-input .input-wrapper .input-text {
  font-size: 24px;
  color: #00494d;
  width: 100%;
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
  background: #f4fafa;
  padding: 0.2em 0.7em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.card-input .input-wrapper .input-text:focus {
  outline: 2px solid #26c0ab;
}

.card-input .input-wrapper img {
  position: absolute;
  left: 0.7em;
  top: 0.9em;
}

.card-input button {
  background: #00494d;
  color: #26c0ab;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.2em 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Space Mono", sans-serif;
}

.card-input button:hover {
  background: #7f9c9f;
}

.btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  gap: 1.1em;
  margin-top: 1.2em;
}

.btns-wrapper .btn {
  width: 46%;
  background: #00494d;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  padding: 5px 0;
  cursor: pointer;
}

.btns-wrapper .btn-active {
  background: #26c0ab;
  color: #00494d;
}

.btns-wrapper #input-custom-tip {
  background: #f4fafa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #00494d;
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  text-align: center;
}

.btns-wrapper #input-custom-tip:focus {
  outline: 2px solid #26c0ab;
}

.alert-error {
  display: none;
  color: indianred;
  font-size: 0.8rem;
}

.card-output {
  width: 105%;
  background: #00494d;
  border-radius: 1em;
  padding: 2em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5em;
}

.card-output .results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-output .results-container .line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-output .results-container .line-wrapper .info-container {
  font-weight: 700;
}

.card-output .results-container .line-wrapper .info-container .title {
  font-size: 1rem;
  color: white;
}

.card-output .results-container .line-wrapper .info-container .subtitle {
  font-size: 0.8rem;
}

.card-output .results-container .line-wrapper .value {
  font-weight: 800;
  color: #26c0ab;
}

.card-output button {
  background: #26c0ab;
  color: #00494d;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.2em 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Space Mono", sans-serif;
}

.card-output button:hover {
  background: #7f9c9f;
}

@media screen and (min-width: 750px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1080px;
  }
  .btns-wrapper > .btn {
    width: 29%;
  }
  .card-output {
    height: 450px;
  }
  .card-output .results-container {
    gap: 1.5em;
  }
}
/*# sourceMappingURL=app.css.map */