@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Space Mono", sans-serif;
  color: #5e7a7d;
}

body {
  background: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  background: none;
  border: none;
  outline: none;
  text-align: right;
}

input:focus {
  outline: none;
}

.logo {
  margin: 50px 0 35px 0;
}

.container {
  background: white;
  width: 100%;
  height: 100vh;
  border-radius: 1.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  font-weight: 700;
  font-size: 15px;
}

.label {
  margin-bottom: 0.5em;
}

.label-tip {
  margin-bottom: 1.5em;
}

.inputBox {
  background: #f4fafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 1em;
  border-radius: 0.4em;
}

.inputBox input {
  border: none;
  outline: none;
  background: none;
  text-align: right;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #00494d;
  font-family: "Space Mono", sans-serif;
}

.inputBox input:focus {
  outline: none;
}

.input__bill,
.input__tip,
.input__people {
  margin-bottom: 2.5em;
}

.input__tip-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1em;
}

.input__tip-options-option {
  text-align: center;
  background: #00494d;
  color: white;
  font-size: 24px;
  border-radius: 5px;
  padding: 0.2em;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input__tip-options-option:last-child {
  background: #f4fafa;
}

.input__tip-options-option input {
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #00494d;
}

.input__tip-options-option input::-webkit-input-placeholder {
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
}

.input__tip-options-option input:-ms-input-placeholder {
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
}

.input__tip-options-option input::-ms-input-placeholder {
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
}

.input__tip-options-option input::placeholder {
  font-family: "Space Mono", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5e7a7d;
}

.input__tip-options-option.active {
  background: #26c0ab;
  color: #00494d;
}
/*# sourceMappingURL=app.css.map */