@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Space+Mono:wght@400;700&display=swap");

$strong-cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan1: hsl(186, 14%, 43%);
$dark-grayish-cyan2: hsl(184, 14%, 56%);
$light-grayish-cyan1: hsl(185, 41%, 84%);
$light-grayish-cyan2: hsl(189, 41%, 97%);
$font-family: "Space Mono", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  color: $dark-grayish-cyan1;
}

body {
  background: $light-grayish-cyan1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background: none;
  border: none;
  outline: none;
  text-align: right;
  &:focus {
    outline: none;
  }
}

.logo {
  margin: 50px 0 35px 0;
}

.container {
  background: white;
  width: 100%;
  height: 100vh;
  border-radius: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  font-weight: 700;
  font-size: 15px;
}

.label {
  margin-bottom: 0.5em;
}

.label-tip {
  margin-bottom: 1.5em;
}

.inputBox {
  background: $light-grayish-cyan2;
  display: flex;
  align-items: center;
  padding: 0.4em 1em;
  border-radius: 0.4em;

  input {
    border: none;
    outline: none;
    background: none;
    text-align: right;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: $dark-cyan;
    font-family: $font-family;

    &:focus {
      outline: none;
    }
  }
}

.input__bill,
.input__tip,
.input__people {
  margin-bottom: 2.5em;
}

.input__tip-options {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1em;

  &-option {
    text-align: center;
    background: hsl(183, 100%, 15%);
    color: white;
    font-size: 24px;
    border-radius: 5px;
    padding: 0.2em;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    &:last-child {
      background: hsl(189, 41%, 97%);
    }

    input {
      text-align: center;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 700;
      color: hsl(183, 100%, 15%);

      &::placeholder {
        font-family: $font-family;
        font-size: 24px;
        font-weight: 700;
        color: hsl(186, 14%, 43%);
      }
    }

    &.active {
      background: hsl(172, 67%, 45%);
      color: hsl(183, 100%, 15%);
    }
  }
}
