@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Space+Mono:wght@400;700&display=swap");

$strong-cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan1: hsl(186, 14%, 43%);
$dark-grayish-cyan2: hsl(184, 14%, 56%);
$light-grayish-cyan1: hsl(185, 41%, 84%);
$light-grayish-cyan2: hsl(189, 41%, 97%);
$font-family: "Space Mono", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  color: $dark-grayish-cyan1;
}

body {
  background: $light-grayish-cyan1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  background: none;
  border: none;
  outline: none;
  text-align: right;
  &:focus {
    outline: none;
  }
}

.logo {
  margin: 50px 0 35px 0;
}

.card {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2em;
  border-radius: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2em;
  font-weight: 700;
}

.card-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  // general
  .label-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: 800;
    margin-bottom: 0.5em;
    &:focus {
      border: 1px solid $strong-cyan;
    }
  }

  .input-wrapper {
    display: flex;
    position: relative;

    .input-text {
      font-size: 24px;
      color: $dark-cyan;
      width: 100%;
      font-weight: 700;
      font-family: $font-family;
      background: $light-grayish-cyan2;
      padding: 0.2em 0.7em;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 2px solid $strong-cyan;
      }
    }

    img {
      position: absolute;
      left: 0.7em;
      top: 0.9em;
    }
  }

  // bill

  // tip

  // # people
}

.btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.1em;
  margin-top: 1.2em;

  .btn {
    width: 46%;
    background: $dark-cyan;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    padding: 5px 0;
    cursor: pointer;

    &-active {
      background: $strong-cyan;
      color: $dark-cyan;
    }

    &.btn-custom {
      background: $light-grayish-cyan2;
      position: relative;
      display: flex;
      justify-content: flex-start;
      #input-custom-tip {
        background: none;
        color: $dark-grayish-cyan2;
        width: 100%;
        font-weight: 700;
        font-family: $font-family;
        font-size: 24px;
        padding: 0.2em 0.7em;
        width: 90%;

        color: $dark-cyan;
        text-align: center;
      }

      span {
        padding-right: 0.5em;
        margin-left: -0.5em;
        position: absolute;
        color: $dark-grayish-cyan2;
        right: 0;
        top: 0.5em;
      }
    }
  }
}

.alert-error {
  display: none;
  color: indianred;
  font-size: 0.8rem;
}

.card-output {
  width: 105%;
  background: hsl(183, 100%, 15%);
  border-radius: 1em;
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .line-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info-container {
      font-weight: 700;
      .title {
        font-size: 1rem;
        color: white;
      }

      .subtitle {
        font-size: 0.8rem;
      }
    }

    .result-container {
      font-weight: 800;
      color: $strong-cyan;
    }
  }
  button {
    background: $strong-cyan;
    color: $dark-cyan;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.4em 0;
    border-radius: 5px;
    cursor: pointer;
  }
}
